WebRoot/WEB-INF/wsdl/MusicSynService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.dustray.cn/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MusicSynService" targetNamespace="http://services.dustray.cn/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://services.dustray.cn/" schemaLocation="MusicSynService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getSynTime">
    <part element="tns:getSynTime" name="parameters"/>
  </message>
  <message name="getSynTimeResponse">
    <part element="tns:getSynTimeResponse" name="parameters"/>
  </message>
  <message name="pauseMusic">
    <part element="tns:pauseMusic" name="parameters"/>
  </message>
  <message name="pauseMusicResponse">
    <part element="tns:pauseMusicResponse" name="parameters"/>
  </message>
  <message name="continueMusic">
    <part element="tns:continueMusic" name="parameters"/>
  </message>
  <message name="continueMusicResponse">
    <part element="tns:continueMusicResponse" name="parameters"/>
  </message>
  <message name="getMusicLength">
    <part element="tns:getMusicLength" name="parameters"/>
  </message>
  <message name="getMusicLengthResponse">
    <part element="tns:getMusicLengthResponse" name="parameters"/>
  </message>
  <portType name="MusicSynDelegate">
    <operation name="getSynTime">
      <input message="tns:getSynTime"/>
      <output message="tns:getSynTimeResponse"/>
    </operation>
    <operation name="pauseMusic">
      <input message="tns:pauseMusic"/>
      <output message="tns:pauseMusicResponse"/>
    </operation>
    <operation name="continueMusic">
      <input message="tns:continueMusic"/>
      <output message="tns:continueMusicResponse"/>
    </operation>
    <operation name="getMusicLength">
      <input message="tns:getMusicLength"/>
      <output message="tns:getMusicLengthResponse"/>
    </operation>
  </portType>
  <binding name="MusicSynPortBinding" type="tns:MusicSynDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getSynTime">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="pauseMusic">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="continueMusic">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getMusicLength">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="MusicSynService">
    <port binding="tns:MusicSynPortBinding" name="MusicSynPort">
      <soap:address location="http://localhost:8080/DanceMusicWebServices/MusicSynPort"/>
    </port>
  </service>
</definitions>
